<!--sign-in-->

<ion-content>
  <div class="container">
     
    <div class="logo">
      <img src="../../assets/imgs/logo.png">
    </div>
    <form class="form-app">
      <ion-item  lines="none">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input type="email" placeholder="mail"></ion-input>
      </ion-item>
      <ion-item  lines="none">
        <ion-icon name="lock" slot="start"></ion-icon>
        <ion-input type="password" placeholder="password"></ion-input>
      </ion-item>
      <ion-button  type="submit"  expand="block" routerDirection="forward"  routerLink="/sign-up" >sign in</ion-button>
    </form>
  </div>
    <div class="social-link">
         <div class="div1">
            <span>or</span>
         </div>
         <ion-buttons>
            <ion-button class="face-book">
             <ion-icon slot="icon-only" name="logo-facebook" ></ion-icon>
            </ion-button>
            <ion-button class="google">
             <ion-icon slot="icon-only" name="logo-googleplus" ></ion-icon>
            </ion-button>
            <ion-button class="twitter">
                <ion-icon slot="icon-only" name="logo-twitter" ></ion-icon>
               </ion-button>
          </ion-buttons>
        
  </div>
</ion-content>
