<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button  autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>settings</ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon slot="icon-only" name="more"></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <!--select-element-->
  <ion-item lines="none" class="select">
    <ion-label>App Language</ion-label>
    <ion-select multiple="true" cancelText="Nah" okText="Okay!">
      <ion-select-option value="bacon">Bacon</ion-select-option>
      <ion-select-option value="olives">Black Olives</ion-select-option>
      <ion-select-option value="xcheese">Extra Cheese</ion-select-option>
      <ion-select-option value="peppers">Green Peppers</ion-select-option>
      <ion-select-option value="mushrooms">Mushrooms</ion-select-option>
      <ion-select-option value="onions">Onions</ion-select-option>
      <ion-select-option value="pepperoni">Pepperoni</ion-select-option>
      <ion-select-option value="pineapple">Pineapple</ion-select-option>
      <ion-select-option value="sausage">Sausage</ion-select-option>
      <ion-select-option value="Spinach">Spinach</ion-select-option>
    </ion-select>
  </ion-item>
<!--share-social-->
  <div class="share-media">
    <h4>Share my recipes on </h4>
    <ion-grid>
      <ion-row>
        <ion-col siz="4">
          <ion-item lines="none" class="face-book">
         <ion-icon name="logo-facebook"></ion-icon>
         </ion-item>
          <ion-checkbox>
          </ion-checkbox> 
        </ion-col>
        <ion-col siz="4">
          <ion-item lines="none"  class="google">
         <ion-icon name="logo-googleplus"></ion-icon>
         </ion-item>
          <ion-checkbox>
          </ion-checkbox> 
        </ion-col>
        <ion-col siz="4">
          <ion-item lines="none" class="twitter">
         <ion-icon name="logo-twitter"></ion-icon>
         </ion-item>
          <ion-checkbox>
          </ion-checkbox> 
        </ion-col>
      </ion-row>
      </ion-grid>

  </div>
  <!--shaw-frist-->
  <div class="shaw-list">
    <h4>Shaw first on my home </h4>
  <ion-list>
   <ion-item lines="none">
      <ion-label> meal dish</ion-label>
      <ion-checkbox>
      </ion-checkbox> 
   </ion-item>
   <ion-item lines="none">
      <ion-label> meal dish</ion-label>
      <ion-checkbox>
      </ion-checkbox> 
   </ion-item>
   <ion-item lines="none">
      <ion-label> meal dish</ion-label>
      <ion-checkbox>
      </ion-checkbox> 
   </ion-item>
   <ion-item lines="none">
      <ion-label> meal dish</ion-label>
      <ion-checkbox>
      </ion-checkbox> 
   </ion-item>
   <ion-item lines="none">
      <ion-label> meal dish</ion-label>
      <ion-checkbox>
      </ion-checkbox> 
   </ion-item>
   <ion-item lines="none">
      <ion-label> meal dish</ion-label>
      <ion-checkbox>
      </ion-checkbox> 
   </ion-item>
   <ion-item lines="none">
     <ion-label> meal dish</ion-label>
      <ion-checkbox>
      </ion-checkbox> 
   </ion-item>
  
  </ion-list>

  <ion-item lines="none" class="toggle">
      <ion-label>animation- avaliablty</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>
  </div>
  </div>
</ion-content>
